@media(max-width: 768px) {
    .text {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .title {
        margin-bottom: 20px;
    }

    .intro,
    .about,
    .skills,
    .portfolio,
    .contacts {
        padding: 50px 0;
    }

    .nav__list {
        display: none;
    }

    .intro__wrapper {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }

    .intro__name {
        font-size: 36px;
        margin: 0 0 15px 0;
    }

    .contacts__info {
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 40px;

    }

    .info__item {
        margin-bottom: 20px;
    }

    .info__item img {
        width: 30px;
        height: 30px;
    }

    .info__text {
        font-size: 13px;
    }

    .slider__link {
        font-size: 15px;
    }

    .contacts__social {
        flex-wrap: wrap;
    }

}