:root {
    --color1: #05b1b1;
    --color2: #52339a;
}

html {
    scroll-behavior: smooth;
}



body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: var(--bs-dark);
}

.line1 {
    height: 3px;
    width: 60px;
    margin: 10px auto 20px;
    background-color: var(--bs-dark);
}

.navbar {
    padding: 20px 0;
}

.about,
.skills,
.projects {
    padding: 100px 0;
}


@media(max-width: 991px) {

    .about,
    .skills,
    .projects {
        padding: 50px 0;
    }
}

/* .....................Header................................. */

.nav-link {
    color: #fff;
    font-size: 18px;
}


/* .....................About................................. */


.about h4 {
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}


.about__img {
    border-radius: 40px;
}

/* .....................Skills................................. */





.design,
.webDev {
    /* border-radius: 25px; */
    /* background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    background-image: var(--bs-gradient) !important; */
    padding: 30px;
    box-shadow: 1px 1px 7px 1px rgb(224, 223, 223);
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: white;
}

.design h6,
.webDev h6 {
    font-size: 22px;
    font-weight: 600;
}

.design p,
.webDev p {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}


.item {
    padding: 25px 50px;
}

.progress {
    box-shadow: 1px 1px 7px 1px var(--bs-gray-600);
    height: 30px;
    border-radius: 20px;
}

.progress-bar {
    border-radius: 20px;
}




/* .....................Projects................................. */
.carousel-item {
    height: 32rem;
    background: #777;
}

/* .....................Projects................................. */

.card {
    box-shadow: 1px 2px 12px 1px var(--bs-gray-600);
    border: 0;
    transition: all .4s linear;
}



.card:hover {
    box-shadow: 1px 2px 20px 1px var(--bs-dark);
}



/* .....................Footer................................. */

footer {
    padding: 30px 0;
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: var(--bs-gray-600);
}


footer .btn {
    background-color: var(--bs-dark);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.footer__copy {
    font-size: 14px;
}