.container{
    max-width: 1200px;
    margin: 0 auto;
}

.info{


}
.img{
    border-radius: 50%;
}
.title{
    text-align: center;
    color: #333;
}
.list{

    list-style: none;
    padding: 0;


}
.link {
    font-size: 18px;
    color: #333;

}

h4{
    font-size: 24px;
    margin: 0;
}